.Home .notes h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  overflow: hidden;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgb(3, 20, 7);
}
.Home .notes p {
  color: hsl(253, 44%, 32%);
}

.linkcontainer {
  background-color: rgb(231, 185, 207);
}
.Home .lander div {
  padding-top: 20px;
}
.Home .lander div a:first-child {
  margin-right: 20px;
}
